body{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    background-color: hsl(0, 0%, 95%);
}
.StopWatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;;
    background-color: white;
    padding: 30px;
}
.display{
    font-size: 5rem;
    font-weight: bold;
    font-family:monospace;
    color:hsl(0,0%, 30%);
    text-shadow: 2px 2px 2px hsl(0%, 0%, 0.75);
    margin-bottom: 20px;
}
.controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px, 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}
